section
  h1 LOMBOK
  p
    a(href="https://projectlombok.org/features/index.html") Website

section
  h2 What would you say you do here?
  p.
    Lombok is a library that allows us to replace a bunch of boilerplate Java code with annotations

section
  h3 Annotations we care about
  ul
    li @Getter / @Setter
    li @ToString
    li @EqualsAndHashCode
    li @NoArgsConstructor and @AllArgsConstructor
    li @Data
