section
  h1 Spring Data
  p
    a(href="http://projects.spring.io/spring-data/") Spring Data
  p
    a(href="http://projects.spring.io/spring-data-jpa/") Spring Data JPA
  p
    a(href="http://projects.spring.io/spring-data-rest/") Spring Data Rest

section
  h2 Spring Data
  ul
    li Umbrella project supplying consistent model for data access
    li Supports relational and non-relational databases, map-reduce frameworks, and cloud-based data services.

section
  h2 Spring Data JPA
  ul
    li Spring Data subproject
    li Implement JPA based repositories
    li Removes a lot of boilerplate code
    li Just write your repository interfaces (include custom finder methods)

section
  h2 Spring Data Rest
  ul
    li Spring Data subproject
    li Exposes a discoverable REST API for your domain model
    li Currently supports JPA, MongoDB, Neo4j, Solr, Cassandra, Gemfire.
