section
  h1 Spring Boot
  p.plain
    a(href="https://projects.spring.io/spring-boot/") projects.spring.io/spring-boot/

section
  h2 Spring Boot Features
  ul
    li Create stand-alone Spring applications
    li Embed Tomcat, Jetty or Undertow directly (no need to deploy WAR files)
    li Provide opinionated 'starter' POMs to simplify your Maven configuration
    li Automatically configure Spring whenever possible
    li Provide production-ready features such as metrics, health checks and externalized configuration
    li Absolutely no code generation and no requirement for XML configuration

section
  h2 How to Use
  ol
    li Web: Use the&nbsp;
      a(href="https://start.spring.io/") Spring Initializr
    li In your IDE if you are using STS, IntelliJ IDEA Ultimate or NetBeans (with a plugin)
    li Command Line: Use&nbsp;
      a(href="https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#getting-started-installing-the-cli") Spring Boot CLI
