section
  h2 Spring Boot Initializr
  img(src="/resources/images/SpringBootInitializr.png")

section
  h3 What you do
  ol
    li Select your project type
    li Give your project a name and path
    li Select the packages you want
    li Download the generated zip file

section
  h3 What you get
  p.
    A fully configured, ready to run application, with an embedded server.

